@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import "popup_add_garage.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Josefin Sans', sans-serif;
}
.animate-h-out{
  height: 0;
  transition: height ease-out .52s;
}
.animate-h-in{
  height: 100%;
  transition: height ease-out .52s;
}

::-webkit-scrollbar {
  width: 0;
  position: absolute;
  right: 0;
}